body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-width: 768px; 
    min-height: 100vh; 
    flex-direction: column; 
    background-color: #4e7eff; /* Kék háttér beállítása */
  }
  
  header, main, footer {
    padding: 10px; 
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
  }
  
  header {
    background-image: url('https://c02.purpledshub.com/uploads/sites/48/2023/02/why-sky-blue-2db86ae.jpg?w=1029&webp=1'); 
    background-size: cover; 
  }
  
  nav {
    background-color: #0561ca;
    padding: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 10px 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    margin-left: 220px; 
    padding-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  footer {
    background-image: url('https://cdn.britannica.com/22/215522-131-FB1512ED/green-grass-close-up.jpg'); 
    background-size: cover; 
    text-align: center;
    margin-top: auto; 
  }
  